{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
    <div class="content">
        <h2>Уверены, что хотите удалить?</h2>
        {% include 'ordersapp/includes/inc_order_summary.html' %}
        <div class="order-action-btns">
            <form action="{% url 'ordersapp:order_delete' object.pk %}" method="post">
                {% csrf_token %}
                <input class="order-action-btn" type="submit" value="удалить">
            </form>
            <a class="order-action-btn" href="{% url 'ordersapp:orders_list' %}">отмена</a>
        </div>
    </div>
{% endblock %}