{% extends 'mainapp/base.html' %}

{% block content %}
    <div class="content">
        <h2 class="ctg-header">{{ menu_items.1.name|title }}</h2>
        <ul class="categories">
            {% for cat in categories %}
                <li>
                    <a href="{% url 'catalog:filter' cat.id %}"
                       class="cat-link cat-bd {% if cat.id|lower in request.path %} cat-active cat-bd-active {% endif %}">
                        {{ cat.name }}</a>
                </li>
            {% endfor %}
        </ul>
        <div class="ctg-items">
            {% for item in items %}
                <div class="ctg-item">
                    <a href="{% url 'catalog:product' item.id %}">
                        <img class="img-preview" src="{{ item.image.url }}" alt="product image" title="{{ item.name }}">
                        <p class="ctg-item-name">{{ item.name }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}