{% load static %}
{% load custom_tags %}
<a href="{% url 'index' %}" title="{{ 'Главная'|title }}">
    <img class="logo" src="{% static 'img/temp_logo.png'%}" alt="logo">
</a>

<div class="right-side">
    <div class="profile-line">
        {% if user.is_authenticated %}
            <a class="cart-info" href="{% url 'shopcart:cart' %}">
                <img width="15px" height="15px " src="{% static 'img/shopping-cart.svg' %}" alt="cart">
                {% with user|shopcart_status as cart_info %}
                {% if cart_info is not None %}
                    ({{ cart_info.quantity }}) {{ cart_info.product_cost }} &#165;&nbsp;
                {% endif %}
                Shop cart
                {% endwith %}
            </a>
        {% endif %}
    <ul class="auth">
        {% if user.is_authenticated %}
            <li class="auth-menu">
                <div class="dropdown">
                    <a class="dropdown-head">{{ user.username|title }}</a>
                    <div class="dropdown-content">
                        <a href="{% url 'auth:view' %}" class="auth-menu dropdown-items">Profile</a>
                        <a href="{% url 'orders:orders_list' %}" class="auth-menu dropdown-items">Orders</a>
                    </div>
                </div>

            </li>
            <li class="auth-menu">
                <a href="{% url 'auth:logout' %}" class="auth-menu">Log out</a>
            </li>
        {% else %}
            <li class="auth-menu">
                <a href="{% url 'auth:register' %}" class="auth-menu">Register</a>
            </li>
            <li class="auth-menu">
                <a href="{% url 'auth:login' %}" class="auth-menu">Log in</a>
            </li>
        {% endif %}

    </ul>
    </div>
    <ul class="main-menu">
    {% for item in menu_items %}
        {%if not user.is_superuser and item.name == 'Admin' %}

        {% else %}
            <li class="menu-item
                {% if item.link == request.resolver_match.view_name or request.resolver_match.namespace == item.namespace %}
                    menu-active
                {% endif %}">
                <a href="{% url item.link %}"
                   class="menu-item
                   {% if item.link == request.resolver_match.view_name or request.resolver_match.namespace == item.namespace %}
                        menu-active
                   {% endif %}">
                    {{ item.name|title }}
                </a>
            </li>
        {%endif%}
    {% endfor %}
</ul>
</div>
