/*------global style------*/

* {
    margin: 0;
    padding: 0;
}
html,
body {
  height: 100%;
}
body{
    background-color: #f8f8f8;
}
.container{
    width: 1200px;
    min-height: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}
.top {
  flex-grow: 1;
}
.content{
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
/*------header------*/
.header{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    background-image: url(../img/background.png);
}
ul.main-menu{
    align-self: flex-end;
    margin-right: 50px;
    list-style-type: none;
    vertical-align: bottom;
}
li.menu-item{
    display: inline;
    margin: 15px;
    outline: 1px solid;
    padding: 5px 0px;
    background-color: lightgray
}
a.menu-item{
    font-size: 1.3em;
    text-decoration: none;
    color: blue;
    padding: 7px 10px;
}
li.menu-item:hover{
    background: blue;
}
a.menu-item:hover{
    color: white;
}
li.menu-active{
    background: blue;
}
a.menu-active{
    color: white;
}
.logo{
    margin-left: 25px;
    border-radius: 50%;
}

/*------header auth------*/

.auth {
    margin-left: auto;
    list-style-type: none;
    align-self: center;
    margin-right: 50px;
}

.right-side {
    min-height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

li.auth-menu{
    display: inline;
    margin: 15px;
    padding: 5px;
}
a.auth-menu {
    font-size: 1.2em;
    color: black;
    border: 1px solid black;
    background-color: whitesmoke;
    font-weight: 550;
    text-decoration: none;
    padding: 0px 5px;
}

a.auth-menu:hover{
    color: blue;
}
a.auth-menu:active{
    background-color: black;
    color: white;
}

.dropdown-head{
    display: inline-block;
    font-size: 1.2em;
    color: black;
    border: 1px solid black;
    background-color: whitesmoke;
    text-decoration: none;
    padding: 0px 5px;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-items {
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}


/*------profile line ------*/

.profile-line{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 15px;
}

.cart-info{
    text-decoration: none;
    font-size: 1.2em;
    margin-left: 20px;
    align-self: center;
    border: 1px solid black;
    padding: 2px 5px;
    color: black;
    background-color: whitesmoke;
}

.cart-info:hover{
    color: blue;
}

.cart-info:active{
    background-color: black;
    color: white;
}

/*------footer------*/
.footer{
    display: flex;
    flex-direction: column;
    background: lightgray;
    height: 200px;
    border-top: 1px solid gray;
}
.copyright{
    display: flex;
    align-self: flex-end;
    margin: 25px 25px 0px 0px;
}
.copyright-ami{
    display: flex;
    align-self: flex-end;
    order: 1;
    margin: 10px 25px 0px 0px;
}

/*------catalog------*/
.ctg-header{
    margin: 20px 0;
    text-align: center;
    font-family: arial
}
.img-preview{
    display: flex;
    justify-content: flex-end;
    align-self: center;
    width: 150px;
}
.ctg-items{
    display: flex;
    flex-wrap: wrap;
}
.ctg-hot {
    display: flex;
    justify-content: space-around
}
.ctg-item{
    width: 200px;
    align-self: self-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center
}
.ctg-item-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 150px;
    color: mediumblue;
    font-weight: 600;
    margin: 5px 0;
}
.ctg-buy {
    align-self: flex-start;
    min-width: 25px;
    min-height: 25px;
    margin: 0 5px;
    background-color: gold;
    border: 1px solid black;
    text-decoration: none;
    border-radius: 5px;
    background-image: url(../img/shopping-cart.svg);
    background-repeat: no-repeat;
}
.ctg-buy:hover {
    background-color: yellow;
}

.ctg-buy:active{
    background-color: darkgoldenrod;
}

.categories {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    list-style-type: none;
    padding-bottom: 20px;
    position: relative;
}
.categories::after{
    content: "";
    width: 300px;
    position: absolute;
    top: 43px;
    left: 0px;
}

.cat-link {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: #6c6c6c;
    padding-left: 5px;
    padding-right: 15px;
}
.cat-link:hover{
    color: #212121;
    font-weight: 700;
    padding-bottom: 10px;
}
.cat-active {
    color: #212121;
    font-weight: 700;
    padding-bottom: 10px;
    padding-left: 9px;

}
.cat-bd:hover{
    border-bottom: 3px solid #6c6c6c;
}
.cat-bd-active{
    border-bottom: 3px solid #212121;
}
/*------product------*/
.pr-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.pr-block{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.pr-head-block{
    width: 100%;
    margin: 20px 0;
}
.pr-img-block{
    flex-grow: 0;
}
.pr-img{
    margin: 25px;
    outline: 3px solid gray;
    width: 300px
}
.pr-img:hover{
    outline: 0px
}
.pr-header{
margin: 20px 0;
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea
}
p.capit-letter::first-letter{
    font: 20px bold arial;
    color: blue;
}
/*------description------*/
.pr-desc{
    margin: 0px;
    padding: 5px;
    list-style: none;
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}
.pr-fulldesc{
    margin: 5px;
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.pr-spec{
    font-style: oblique;
    font-weight: 800;
    padding-left: 15px;
    list-style-image: url(../img/mark.png);
}
.pr-spec-table{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 3px;
}
.pr-td{
    border-bottom: 1px solid black;
    padding: 3px;
}
.pr-desc-block{
    flex-grow: 3;
}
.pr-fulldesc-block{
    width: 100%;
}
/*------price------*/
.pr-buy-block{
    margin: 25px 0px;
    flex-grow: 2;
    align-items: center;
    align-self: flex-start;
}
.buy-btn{
    width: 175px;
    height: 75px;
    background: gold;
    border-radius: 25px;
    border-style: outset;
    text-decoration: none;
    color: black;
    text-align: center;
    line-height: 75px;
}
.buy-btn:active{
    border-style: inset;
}
.buy-btn:hover{
    background: yellow;
    border-width: 2px 5px 5px 2px;
}
.price{
    margin: 10px;
    font-size: 32px;
    font-weight: 600
}
.price::after{
    content: " \00A5";
}

/*------contacts------*/
.cont-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.cont-feedback{
    width: 40%;
}
.cont-address{
    width: 45%;
}
.cont-email:focus{
    color: lime;
    background: black
}
.cont-text{
    text-transform: capitalize;
}
.cont-input{
    margin: 5px;
    width: 200px;
    height: 20px;
    margin-left: 5px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    
}
.cont-mes{
    width: 250px;
    height: 150px;
}
.cont-btn{
    width: 125px;
    height: 25px
}

/*------login------*/
.login-win {
    margin: 20px auto;
    z-index: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 2px solid black;
    border-radius: 30px;
    max-width: 350px;
    max-height: 500px;
}

.login-header {
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    padding: 5px;
    margin: -2px;
}

.login-form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.login-btn {
    margin: -2px;
    padding: 10px;
    border: 2px solid black;
    box-sizing: border-box;
    background-color: lightgray;
    font-size: 1.1em;
}
.login-btn:hover{
    background-color: darkgray;
}
.login-btn:active{
    background-color: gray;
    color: white;
}

.login-content {
    margin: 35px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-block {
    margin: 5px;
    align-self: center;
    min-width: 100%;
}

.login-block label{
    font-size: 1.2em;
    padding-left: 5px;
}

.login-block input{
    font-size: 1.2em;
    margin-top: 15px;
    margin-bottom: 10px;
    min-width: 100%;
}

.login-urls {
    display: flex;
    align-self: stretch;
    justify-content: space-between;
    font-size: 0.9em;
}

.login-socials {
    display: flex;
    align-self: stretch;
    justify-content: flex-start;
    margin: 15px 10px 0 10px;
    height: 50px;
}

.login-google{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    background-image: url(../img/google.svg);
    background-repeat: no-repeat;
    color: transparent;
}

.login-google:hover{
    background-color: lightgray;
}

.login-google:active{
    background-color: gray;
}

/*------registration------*/

.reg-form {
    display: flex;
    flex-direction: column;
}

.reg-btn {
    align-self: flex-start;
    margin: 20px 50px;
    padding: 5px 15px;
}

.reg-flds {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
}

.reg-fld{
    min-width: 250px;
    margin: 15px 20px;
}

.reg-fld:nth-child(2n) {
    margin-right: 40%;
}

/*------profile------*/

.profile {
    display: flex;
}

.avatar-img {
    outline: 1px solid black;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.profile-block {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.profile-block td{
    padding: 15px;
}

.avatar-block {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.profile-edit {
    text-decoration: none;
    font-weight: 600;
    color: black;
    margin: 0 10px;
    padding: 5px 10px;
    align-self: flex-start;
    border: 1px solid black;
    background-color: lightgray;
}
.profile-edit:hover{
    background-color: gray;
}
.profile-edit:active{
    color: white;
    background-color: black;
}

.profile-ext{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    width: 50%;
}

.profile-ext p{
    display: flex;
    margin: 5px;
}

.profile-btns {
    margin: 25px;
}

/*------shopping cart------*/

.cart-tbl {
    border: 1px solid black;
    border-radius: 5px;
    margin: 25px;
}

.cart-col{
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    font-size: 1.1em;
}

.cart-col-num{
    width: 1%;
}

.cart-col-name{
    width: 50%;
}

.cart-col-count{
    width: 5%;
}

.cart-col-price{
    width: 10%;
}

.cart-col-remove{
    width: 1%;
    border: none;
}

td.cart-col-price::after{
    content: " \00A5";
}

.cart-header {
    text-align: center;
}

.cart-total-price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
    font-size: 1.5em;
}

.cart-checkout{
    display: inline-block;
    margin: 10px 15px;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    background: gold;
}

.cart-checkout:hover{
    background: yellow;
}

.cart-empty{
    text-align: center;
    margin: 25px;
    font-style: italic;
    opacity: 0.2;
    font-size: 2em;
}
.cart-count-btn {
    display: inline-block;
    width: 10px;
    height: 10px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
}
.cart-count-btn:hover{
    background-color: gray;
}
.cart-count-btn:active{
    background-color: black;
}

.cart-remove{
    text-decoration: none;
    font-weight: 700;
    color: darkred;
}

.cart-remove:hover{
    color: red;
}

/*------orders------*/

.order-btn{
    display: block;
    width: 25px;
    height: 25px;
}

.order-btn:hover{
    background-color: lightgray;
}

.order-edit-btn{
    background-image: url(../img/edit.svg);
}

.order-view-btn{
    background-image: url(../img/view.svg);
}

.order-action-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.order-redirect-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.order-action-btn{
    display: block;
    text-decoration: none;
    margin: 15px;
    padding: 5px;
    border: 2px solid black;
    background: lightgray;
    color: black;
}

.order-action-btn:hover{
    background: gray;
}

.order-price::after{
    content: " \00A5";
}

.delete-row{
    text-decoration: none;
    font-weight: 700;
    color: darkred;
}

.delete-row:hover{
    color: red;
}

.add-row{
    display: block;
    width: 25px;
    height: 25px;
    margin: 5px;
    line-height: 25px;
    text-align: center;
    font-size: 2.25em;
    background-color: lightgray;
    text-decoration: none;
    font-weight: 700;
    color: green;
    border: 1px solid black;
}

.add-row:hover{
    color: lime;
    background-color: gray;
}