{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
    <div class="content">
        <h2 class="cart-header">Shopping cart</h2>
        {%if cart_items|length > 0 %}
        <table id="table-cart" class="cart-tbl">
            <tbody>
                <tr>
                    <th class="cart-col cart-col-num">#</th>
                    <th class="cart-col cart-col-name">Name</th>
                    <th class="cart-col cart-col-count">Quantity</th>
                    <th class="cart-col cart-col-price">Price</th>
                    <th class="cart-col cart-col-price">Total price</th>
                </tr>
                {%for item in cart_items%}
                    <tr id="{{ item.product.id}}">
                        <td class="cart-col cart-col-num">{{ forloop.counter }}</td>
                        <td class="cart-col cart-col-name">
                            <a href="{% url 'catalog:product' item.product.id %}">
                                {{ item.product }}
                            </a>
                        </td>
                        <td class="cart-col cart-col-count">
                            <a id="counter_inc" class="cart-count-btn" href="#"
                                style="background-image: url({% static 'img/add.svg'%})"></a>
                            <span>{{ item.quantity }}</span>
                            <a id="counter_dec" class="cart-count-btn" href="#"
                                style="background-image: url({% static 'img/remove.svg'%})"></a>
                        </td>
                        <td class="cart-col cart-col-price">{{ item.product.price }}</td>
                        <td id="total" class="cart-col cart-col-price">{{ item.product_cost }}</td>
                        <td class="cart-col cart-col-remove">
                            <a class="cart-remove" href="{% url 'shopcart:remove' item.product.id %}">X</a>
                        </td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
        <p class="cart-total-price">
           <b>Total:&nbsp;</b><span id="total-price">{{ total_cost }}</span>&nbsp;&#165;
        </p>
        {% else %}
            <p class="cart-empty">EMPTY</p>
        {% endif %}
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/jquery-3.3.0.js' %}"></script>
    <script src="{% static 'js/shopCart_scripts.js' %}"></script>
{% endblock %}